/* Orders.css */

.orders-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .orders-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .order-item-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .order-item img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .order-item-details p {
    margin: 0;
    font-size: 16px;
  }
  
  .order-item-details span {
    font-weight: bold;
    color: #e74c3c;
  }
  
  .order-item-price {
    font-size: 16px;
    font-weight: bold;
    color: #2ecc71;
  }
  